* {box-sizing:border-box;}

body{

    background-color: #d1cbc071;

}


header,nav{
    background-image: var(--bs-gradient); /*permet de donner du relief à la couleur noir */
    text-transform: uppercase; /*Mettre tout les caractère dans la navbar en majuscule*/
}

section{

    border-radius: 5px;

}


/*pour tout lien je les mets en gras et donne une couleur blanche et enlève la barre en dessous des texte*/
  a{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }


@media print{
    
}

/*permet aux image et vidéo de respecter une taille (ni trop grand ni trop petit)*/
img,iframe,audio,video{
    max-width: 100%;
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  

  @media screen and (min-width: 900px) {

    p{
      font-size: 1em !important;
    }


    h4,h3,h6{
      font-size: 1.6em !important;
    }
    
    h1,h2{
      font-size: 2.5em !important;
    }

  }

  @media screen and (max-width: 900px) {

    p{
      font-size: 1.2em !important;
    }


    h4,h3,h6{
      font-size: 1.3em !important;
    }
    
    h1,h2{
      font-size: 2.1em !important;
    }

  }